<!DOCTYPE html>
<html>
<head>
  <title>TrelloClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "static_pages/navbar" %>
<div class="container">
  <ul>
  <% flash[:notices].try(:each) do |notice| %>
    <li><%= notice %></li>
    <% end %>
  </ul>

  <%= yield %>
</div>

</body>
</html>
