<!DOCTYPE html>
<html>
<head>
  <title>TrelloClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "static_pages/navbar" %>
<div class="container">
  <ul>
  <% flash[:notices].try(:each) do |notice| %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert">
				&times;
			</button>
			<%= notice %>
		</div>
    <% end %>
  </ul>

  <%= yield %>
</div>

</body>
</html>
